{% extends 'base.html' %}
{% block title %}
    {{title}}
{% endblock %}
{% block content %}
    <form>
        <div class="form-row align-items-center">
            <div class="col-auto">
                <h4>Ticker</h4>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="radio" id="radios1" value="option1" onchange="changeDisabled()" checked>
                  <label class="form-check-label" for="radios1">
                    Use TextBox
                  </label>
                </div>
                <input type="text" class="form-control mb-2" id="inlineFormInput" placeholder="ex. SPY">
                 <div class="form-check">
                      <input class="form-check-input" type="radio" name="radio" id="radios2" value="option2" onchange="changeDisabled2()">
                      <label class="form-check-label" for="radios2">
                        Use Dropdown
                      </label>
                </div>
                <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" disabled>
                        <option selected>Choose...</option>
                        {% for tic in tickers %}
                            <option value="1">{{tic}}</option>
                        {% endfor %}
                </select>
                <small id="tickerHelpBlock" class="form-text text-muted">
                ticker must exist on the public market
                </small>
                <button type="submit" class="btn btn-primary mb-2" onclick="post">Submit</button>
            </div>
        </div>
         <!-- JavaScript functions for enabling and disabling options -->
        <script>
        function changeDisabled() {
          document.getElementById("inlineFormInput").disabled = false;
          document.getElementById("inlineFormCustomSelect").disabled = true;
        }
        function changeDisabled2() {
          document.getElementById("inlineFormInput").disabled = true;
          document.getElementById("inlineFormCustomSelect").disabled = false;
        }
        </script>
    </form>
{% endblock %}